resources/data filter=lfs diff=lfs merge=lfs -text
resources/data2_part_aa filter=lfs diff=lfs merge=lfs -text
resources/data2_part_ab filter=lfs diff=lfs merge=lfs -text
resources/data filter=lfs diff=lfs merge=lfs -text
resources/data2_part_ab filter=lfs diff=lfs merge=lfs -text
resources/data2_part_aa filter=lfs diff=lfs merge=lfs -text
